.button-container {
    display: flex;
    flex-direction: column;
    flex: 4;
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .numberButtons {
    width: 2em;
  }
  
  .operatorButtons {
    width: 2em;
  }
  
  #clear {
    width: 6em;
  }
  
  #zero {
    width: 4em;
  }
  